html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 75rem) 1fr;
    grid-template-rows: 6rem 1fr auto;
    grid-template-areas:
      ".   header  ."
      ".        main   ."
      ".  footer  .";
      Background: #ec2121;
      font-family: 'Work Sans', sans-serif;
      line-height: 0.2rem;
}

img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    }

.header {
    grid-area: header;
    width: 100%; height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: -0.1rem;
}

.navigation { 
    width: 100%;
}
    
.navigation-items_MZ {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      list-style: none;
      padding: 0rem; 
}

.navigation-items_MZ li { 
    margin: 0rem;
    }

.nav-link {
    color: white;
    text-decoration: none; 
}

.box-menu {
    position: relative;
    padding-left: 1.8rem;
  }

  .box-menu::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.2em;
    width: 1em;
    height: 0.7em;
    border-top: 0.45em double white;
    border-bottom: 0.15em solid white;
  }

.fas-search {
    padding-left: 2rem;
    color:white;
}

    .fas-search::before {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f002";
        position: relative;
        top: 0.1em;
        padding-right: 0.2em;
    }

.header_programma {
     display: flex;  
}

.paradiso {
    position: relative;
    margin: 0rem 0rem -5.5rem -0.18rem;
    z-index: 1;
}

.main {
    grid-area: main;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: 400px;
    grid-template-areas:
    "hero hero rightcorner"
    "hero hero long"
    "leftcorner middle long";
}

    .tile {
        position: relative;
        display: flex;
    }

.text_block {
    position: absolute;
    color: white;
    z-index: 2;
    width: 100%;
    margin: 0em 1em 0em 2em;
    letter-spacing: -0.1em;
    align-self: flex-end;
    }

    .bevestigd_title {
        font-weight: 400;
        font-size: 1.5rem;
    }
    
    .band_text {
        font-weight: 600;
        font-size: 2rem;
    }

.hero {
    grid-area: hero;
}

.rightcorner {
    grid-area: rightcorner;
}

.leftcorner {
    grid-area: leftcorner;
}

.middle {
    grid-area: middle; 
}

.long {
    grid-area: long;
    
}

.subheading {
    display: flex;
    flex-direction: column;
    margin: 8rem 0rem 0.5rem 0rem;
    color: white;
}

.titel {
    font-size: 14.5rem;
    font-weight: 600;
    letter-spacing: -0.8rem;
    text-indent: -1rem;
    margin: 0rem 0rem 6rem 0rem;
}

.vandaag  {
    font-size: 2rem;
    letter-spacing: -0.1rem;
    margin: 1rem 0rem 1.5rem 0rem;
}

.program {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    height: 350px;
}

    .tile_program {
        position: relative;
        display: flex;

}

.text_block_program {
    position: absolute;
    color: white;
    width: 100%;
    margin: 0em 0em 2em 1em;
    align-self: flex-end;
}

    .band_title_prgrm {
        font-weight: 600;
        font-size: 2rem;
        margin: 0rem 0rem 1.5rem 0rem;
}

    .band_text_prgrm {
        font-size: 1rem;
        line-height: 0.5rem;
    }

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    color: white;
    margin: 1rem 1rem; 
}


@media screen and (max-width: 45rem) {
    body { grid-template-rows: 3rem 1fr auto;
}

.tiles {
    grid-template-columns: 
      minmax(16rem, 1fr) 1fr 1fr minmax(16rem, 1fr);
    grid-template-rows: 
      auto auto minmax(16rem, auto) auto;
}

.paradiso {
    position: relative;
    margin: 2rem 0rem -2.6rem 0rem;
    z-index: 1;
    max-width: 50%;
}

.header {
    width: 50%; height: 4rem;
}

.titel {
    font-size: 7.5rem;
    letter-spacing: -0.4rem;
}

.band_text {
    font-weight: 600;
    font-size: 1.5rem;
}

.band_text_prgrm {
    font-size: .75rem;