html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 75rem) 1fr;
    grid-template-rows: 6rem 1fr auto;
    grid-template-areas:
      ".   header  ."
      ".        main   ."
      ".  footer  .";
      Background: #ec2121;
      font-family: 'Work Sans', sans-serif;
      line-height: 0.2rem;
}

img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    }

.header {
    grid-area: header;
    width: 100%; height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: -0.1rem;
}

.navigation { 
    width: 100%;
}
    
.navigation-items_MZ {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
}

.navigation-items_MZ li { 
    margin: 0.5rem 1rem; 
    }

.nav-link {
    color: white;
    text-decoration: none; 
}

.header_programma {
     display: flex;  
}

.paradiso {
    position: relative;
    margin: 0rem 0rem -5.5rem 0rem;
    z-index: 1;
}

.main {
    grid-area: main;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: 400px;
    grid-template-areas:
    "hero hero rightcorner"
    "hero hero long"
    "leftcorner middle long";
}

    .tile {
        position: relative;
        display: flex;
    }

.text_block {
    position: absolute;
    color: white;
    z-index: 2;
    width: 100%;
    margin: 1em;
    letter-spacing: -0.1em;

    }

    .bevestigd_title {
        font-weight: 400;
        font-size: 1.5rem;
    }
    
    .band_text {
        font-weight: bold;
        font-size: 2rem;
    }

.hero {
    grid-area: hero;
}

.rightcorner {
    grid-area: rightcorner;
}

.leftcorner {
    grid-area: leftcorner;
}

.middle {
    grid-area: middle; 
}

.long {
    grid-area: long;
    
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    color: white;
    margin: 1rem 1rem; 
}